@import 'variables';

body{
	background-color: $light-gr;
}

.shop-list{
	padding: 75px 0;
	&--item{
		// box-shadow: 0 0 25px 0 rgba(#000, 0.05);
		border-radius: 2px;
		transition: box-shadow ease .2s;
		margin-bottom: 30px;
		position: relative;
		&:after{
			content: '+';
			position: absolute;
			top: 0;
			left: 14px;
			font-size: 3.5rem;
			font-weight: bold;
		}
		*{
			cursor: default;
		}
		img{
			display: block;
			width: 100%;
			height: 175px;
			object-fit: contain;
			object-position: center;
			padding: 21px;
			transition: background-color ease .2s;
		}
		.item--text{
			padding: 21px;
		background-color: #fff;
border-top: 2px solid $red;
			h3{
				font-family: 'Ubuntu';
				font-size: 1.7rem;
				font-weight: 300;
				margin: 0;
				margin-bottom: 10px;
			}
			p{
				font-family: 'Ubuntu';
				font-size: 2rem;
				font-weight: 300;
				margin: 0;
				margin-bottom: 21px;
			}
			ul{
				margin: 0;
				padding: 0;
				margin-bottom: 21px;
				opacity: 0.4;
				transition: opacity ease .2s;
				&:hover{
					opacity:1;
				}
				li{
					display: inline-block;
					font-family: 'Ubuntu';
					padding: 0;
					height: 28px;
					width: 28px;
					line-height: 26px;
					text-align: center;
					border-radius: 28px;
					background-color: $light-gr;
					color: $red;
					margin-right: 4px;
					cursor: default;
				}
				li.n-a{
					opacity: 0.4 !important;
				}
			}
			a{
				color: #333;
				text-decoration: none;
				font-family: 'Ubuntu';
				font-size: 1.4rem;
				font-weight: 300;
				cursor: pointer;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&:hover{
			box-shadow: 0 0 55px 0 rgba(#000, 0.15);
			h3{
				color: $red;
			}
			img{
				background: #fff;
			}
		}
	}
}